* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;/*Esto asegura que el relleno y el borde estan incluidos en el ancho y alto total de los elementos*/
}

.container {
  width: 85%;
  position: relative;
  margin: auto;
  height: auto;
}

.row::after,
.row::before {
  content: " ";
  display: table;
}

.row::after {
  clear: both;
}
.row{
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
}

[class*="col-"] {
  float: left;

}

.col-1 {
  width:8.33333333%;
}

.col-2 {
  width:16.66666666%;
}

.col-3 {
  width:25%;
}

.col-4 {
  width:33.33333333%;
}

.col-5 {
  width:41.66666666%;
}

.col-6 {
  width:50%;
}

.col-8 {
  width:66.66666666%;
}
.col-9 {
  width:75%;
}
.col-10 {
  width:83.33333333%;
}
.col-11 {
  width:91.66666666%;
}


.col-12 {
  width:100%;
}
