header {
  left: 0;
  font-weight: 700;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

.bg-box {
  background-color: #1a0a1e;
  color: #ffffff;
  font-family: sans-serif;
}

nav {
  overflow: hidden;
  padding: 1rem;
}

.nav-left {
  float: left;
  font-size: 1.25rem;
  font-family: sans-serif;

}

nav a {
  color: inherit;
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  text-decoration: none;
}

nav a:hover {
  color:#325597;
}

.navbar {
  float: right;
}

.view-mobile {
  display: block;
}


.nav-right {
  float: right;
}

.nav-item {
  display: inline-block;
  padding: 0.3rem 1rem;
}

.view-desktop {
  display: none;
}

.logoa{
  width:7%;
  height:7%;
  float:left;
}

.logo{
  width:30%;
  height:30%;
  float:right;
}

.bg-image {
  background-image: url('../assets/images/Principal.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% 25%;
  margin-top: 4rem;
  width:100%;
}

.title {
  text-align: center;
  color: #fff;
  padding: 3rem 0;
  font-family: sans-serif;


}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: sans-serif;
}



.container {
  padding: 1rem 1rem;




}

p{
  line-height: 1.7;
  padding-top: 1rem;
  font-family: sans-serif;
  font-size: 15px;


}

.btn {
  background-color: #1a0a1e;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-family: sans-serif;
  outline: none;
}

.btn:hover {
  background-color: #325597;

}


.call {
  font-size: 20px;
  margin-top: 1rem;
  padding: 0.7em 0.9em;
  font-family: sans-serif;
}

.card {
  border: 1px solid #CCCCCC;
  margin-top: 1rem;
}

img{
  width: 100%;
  height: 90%;
}

.text-card {
  padding: 1rem 1rem;
  font-family: sans-serif;
  text-align: justify;
}

h3 {
  color: #000;
  font-size: 1.5rem;
  font-family: sans-serif;

}

.card figure {
  height: 250px;

}

.card iframe {
width: 100%;
}

.btn-content {
  background-color: #F7F7F7;
  border-top: 1px solid #CCCCCC;
  padding: 1rem 1rem;
}

.find {
  font-size: 18px;
  padding: 0.6em 0.8em;
}


footer  {
  padding: 1rem;
  text-align: center;
}

@media (min-width: 992px) {
  nav {
    margin: 0 6rem;
  }

  .container {
    margin: 0 7rem;
  }

  .nav-left {
    padding-left: 1rem;
  }

  .title {
    padding-top: 6rem;
  }

  .card iframe {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .view-desktop {
    display: block;
  }

  .view-mobile {
    display: none;
  }

  .bg-image {
    height: 600px;
  }

  .col-padding {
    padding-right: 1.5rem;
  }

  .title {
    padding-top: 3rem;
  }

  h1 {
    font-size: 3rem;
  }

  .card iframe {
    width: 100%;
  }
